*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

.vs

Binaries
Saved
Intermediate
DerivedDataCache


Assets
Characters
Cursor
StarterContent
Maps
LevelPrototyping
__ExternalActors__
__ExternalObjects__